[submodule "projects/Water-Template-CE"]
	path = projects/Water-Template-CE
	url = https://github.com/lossless-group/water-foundation-ce.git
[submodule "content-areas"]
	path = content-areas
	url = https://github.com/lossless-group/content-areas.git
